body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


#main {
  width: 100%;
  height: auto;
  background-color: #14671c;
  position: sticky;
  top: 0px;
}

.mybar {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
} 
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color:black;
  line-height: 1.6em;
  text-align-last: center;
  font-size: medium;
}

ul {
  margin-top: 0px;
  margin-right: 0%;
}
li {
  display: inline-block;
  text-align-last: center;
  padding :12px 4px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 0px;
}


#icon {
  margin-left: 20px;
  width: 150px;
  height: 80px;
}
#home {
  background-color: darkgreen;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}
#add {
  background-color: darkgreen;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}
#view {
  background-color: darkgreen;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}


#home:hover,#add:hover,#view:hover{
  background-color:  rgb(168, 175, 168);
}

#home:visited,#add:visited,#view:visited{
  background-color:  rgb(168, 175, 168);
}

.nav-menu-item{
  position:relative;
  z-index: 1;
  top: -20px;
}


.nav-menu li{
  margin-right: 2px;
  padding-left: 20px;
  padding-right: 20px;

 }

 .nav-menu li a{
  color: white;
 }
.user_btn {
  float: none;
  margin-top: 0px;
  padding: 2px 0px;
  padding-left: 5px;
  width: 40px;
  height:40px;
  margin-right:10px;
  cursor: pointer;
}
.dropbtn {
  background-color: rgba(16, 87, 7, 0.467);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width:120px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: green;
}
.dot{
  height: 48px;
  width: 52px;
  padding: 1px 1px;
  border: 2px solid #ddd;
  border-radius: 50%;
  background-color: #14671c;
  display: inline-block;
}
.dropdown {
  position: relative
  ;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  right:1px;
  background-color: rgba(15, 95, 4, 0.911);
  padding: 0px 16px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width:100px;
}

.dropdown-content a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 10px;;
  background-color: rgba(15, 95, 4, 0.911);
}
.dropdown a:hover {
    background-color: #ddd;
    color : black;
 }

.show {display: block;}
.down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
@media (max-width: 900px) {
  #navbar {
    float: none;
    height: auto;
  }
  li{
    display: block;
    width: 100%;
  }

  ul{
      margin-right: 5%;
  }
}
@media screen and (max-width: 900px) {
  .mybar li{
    display: none;
  }
  
  #home_1, #report_1{
    position: inherit;
  }

  .mybar .icon {
    position: absolute;
    right: 5%;
    top: 20px;
    height: 40px;
    background-color: rgb(3, 85, 3);
  }

  .mybar div .bar1,
  .bar2,
  .bar3 {
    position: relative;
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(241, 237, 237);
    margin: 6px 10px;
    transition: 0.4s;
  }
}

@media (max-width: 900px) {
  #navbar {
    float: none;
    height: auto;
  }
  button , li {
    display: block;
    width: 100%;
  }
  .user_btn{
    position: fixed;
    padding-top: 5px;
    right:2%;
    top:15px;
  }
  .dot{
    position: fixed;
    right:2%;
    top:15px;
  
  }
  .dropdown-content{
    position:fixed;
    top:15px;
  }
  .mybar.responsive {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 68px;
    background-color: rgba(15, 95, 4, 0.911);
  }

  .mybar.responsive ul {
    top: 0px;
    padding-top: 60px;
    width: 80%;
  }
  .mybar.responsive li {
    float: none;
    top: 0px;
    display: block;
    width: 100%;
  }
  .mybar.responsive  .dropdown-content{
    position: fixed;
    float: none;
    top: 250px;
    left :0px;
    display: block;
    width: 90%;
  }
  .mybar.responsive  .dropdown-content a{
     height: 40px;
     padding : 1px 8px;
  }

  .mybar.responsive .dropbtn {
    position: relative;
    float: none;
    top: 0px;
    display: block;
    width: 100%;
  }
 
  .mybar.responsive div.icon  {
    position: absolute;
    right: 5%;
    top: 20px;
    background-color: rgba(15, 95, 4, 0.048);
  }
  .mybar.responsive li div{
      position: absolute;
      width:80%;
      padding-left: 0px;
      margin-left: 20px;
  }
  .mybar.responsive li div a{
    width:80%;
    margin-left: 40px;
    border-radius: 10px;
}
  .mybar.responsive div.bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .mybar.responsive div.bar2 {
    opacity: 0;
  }

  .mybar.responsive div.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

/*.incidentsNumber{
  position: relative;
}

.incidentsNumber ul {

  display: inline-block;
}

.h1{
   background: linear-gradient(89.98deg, #14671C 4.7%, rgba(75, 189, 107, 0) 114.86%);
   margin-right: 40%;
   margin-left: 60px;
   color: white;

}

*/

#actor{
  text-shadow: 1px 1px rgba(0, 251, 10, 0.16);
  color: darkgreen;
  position: absolute;
  top: 70px;
  margin-left: 650px;
}



.sidebar{
  list-style: none;
  text-decoration: none;
  position: fixed;
  width: 250px;
  height: 400px;
  background-color: darkgreen;
  z-index: 1111;
  left: -250px;
  transition: all 0.5s ease;
}

.sidebar h1{
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  user-select: none;
}



.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  transition: 0.4s;
}

.sidebar ul li:hover a{
  padding-left: 50px;
  font-size: 20px;
}

.sidebar ul li i{
  margin-right: 16px;
  font-size: 30px;
}

#check{
  display: none;

}
#side-but{
  position: absolute;
}
label #side-btn,label #cancel{


color: white;
background-color: darkgreen;
border-radius: 3px;

}

label #side-btn{
  margin-left: 40px;
  margin-top: 60px;
  font-size: 35px;
  cursor: pointer;
  padding: 6px 12px;


}

label #cancel{
  margin-left: 195px;
  top: 17px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding:4px 9px;
}

#check:checked~.sidebar{
  left: 0;

}
#check:checked~label #side-btn{
  opacity: 0;
}








.container2{
 position: absolute;
 top: 45vh;
 width: 100%;




}



.container2-inci{

  margin-top: 30px;
}

.radios{
  margin-left: 100px;
  box-shadow: 0 0 2px darkgreen;
  margin-right: 780px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  border-radius: 5px;

}

.radios label{
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  color: darkgreen;


}

.radios .radio-but .radio-input{
  display: none;
}

.radios .radio-but input:checked ~ .radio-mark{
  color: white;
  background-color: darkgreen;
}



 .inci {
  display: inline-block;

}

.inci{
  margin-left: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
  border-radius: 10px;
  box-shadow: 10px;

  width: 200px;
  background-color: white;
  height: 150px;
 
}

#ele-1-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ele-1-box:hover{
  transform: rotateY(180deg);
}

#ele-1-box .ele-1-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ele-1-box .ele-1-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num1{
  position: relative;
  font-size: 50px;

}

#ele-1{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ele-1-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ele-1-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#ele-2-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ele-2-box:hover{
  transform: rotateY(180deg);
}

#ele-2-box .ele-2-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ele-2-box .ele-2-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num2-1{
  position: relative;
  font-size: 50px;

}

#ele-2{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ele-2-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ele-2-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#ele-3-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ele-3-box:hover{
  transform: rotateY(180deg);
}

#ele-3-box .ele-3-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ele-3-box .ele-3-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num3-1{
  position: relative;
  font-size: 50px;

}

#ele-3{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ele-3-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ele-3-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}

#ele-4-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ele-4-box:hover{
  transform: rotateY(180deg);
}

#ele-4-box .ele-4-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ele-4-box .ele-4-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num4-1{
  position: relative;
  font-size: 50px;

}

#ele-4{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ele-4-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ele-4-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}

#ele-5-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ele-5-box:hover{
  transform: rotateY(180deg);
}

#ele-5-box .ele-5-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ele-5-box .ele-5-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num5-1{
  position: relative;
  font-size: 50px;

}

#ele-5{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ele-5-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ele-5-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}

#ele-6-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ele-6-box:hover{
  transform: rotateY(180deg);
}

#ele-6-box .ele-6-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ele-6-box .ele-6-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num6-1{
  position: relative;
  font-size: 50px;

}

#ele-6{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ele-6-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ele-6-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}

#ele-7-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ele-7-box:hover{
  transform: rotateY(180deg);
}

#ele-7-box .ele-7-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ele-7-box .ele-7-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num7-1{
  position: relative;
  font-size: 50px;

}

#ele-7{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ele-7-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ele-7-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}





#ani-1-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ani-1-box:hover{
  transform: rotateY(180deg);
}

#ani-1-box .ani-1-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ani-1-box .ani-1-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num2{
  position: relative;
  font-size: 50px;

}

#ani-1{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ani-1-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ani-1-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#ani-2-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ani-2-box:hover{
  transform: rotateY(180deg);
}

#ani-2-box .ani-2-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ani-2-box .ani-2-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num2-2{
  position: relative;
  font-size: 50px;

}

#ani-2{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ani-2-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ani-2-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#ani-3-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ani-3-box:hover{
  transform: rotateY(180deg);
}

#ani-3-box .ani-3-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ani-3-box .ani-3-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num3-2{
  position: relative;
  font-size: 50px;

}

#ani-3{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ani-3-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ani-3-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#ani-4-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ani-4-box:hover{
  transform: rotateY(180deg);
}

#ani-4-box .ani-4-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ani-4-box .ani-4-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num4-2{
  position: relative;
  font-size: 50px;

}

#ani-4{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ani-4-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ani-4-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#ani-5-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ani-5-box:hover{
  transform: rotateY(180deg);
}

#ani-5-box .ani-5-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ani-5-box .ani-5-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num5-2{
  position: relative;
  font-size: 50px;

}

#ani-5{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ani-5-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ani-5-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#ani-6-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ani-6-box:hover{
  transform: rotateY(180deg);
}

#ani-6-box .ani-6-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ani-6-box .ani-6-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num6-2{
  position: relative;
  font-size: 50px;

}

#ani-6{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ani-6-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ani-6-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#ani-7-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ani-7-box:hover{
  transform: rotateY(180deg);
}

#ani-7-box .ani-7-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ani-7-box .ani-7-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num7-2{
  position: relative;
  font-size: 50px;

}

#ani-7{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ani-7-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ani-7-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}

#dan-1-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#dan-1-box:hover{
  transform: rotateY(180deg);
}

#dan-1-box .dan-1-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#dan-1-box .dan-1-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num3{
  position: relative;
  font-size: 50px;

}

#dan-1{

   width: 100px;
   height: 100px;
   position: absolute;

}

#dan-1-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.dan-1-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#dan-2-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#dan-2-box:hover{
  transform: rotateY(180deg);
}

#dan-2-box .dan-2-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#dan-2-box .dan-2-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num2-3{
  position: relative;
  font-size: 50px;

}

#dan-2{

   width: 100px;
   height: 100px;
   position: absolute;

}

#dan-2-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.dan-2-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#dan-3-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#dan-3-box:hover{
  transform: rotateY(180deg);
}

#dan-3-box .dan-3-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#dan-3-box .dan-3-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num3-3{
  position: relative;
  font-size: 50px;

}

#dan-3{

   width: 100px;
   height: 100px;
   position: absolute;

}

#dan-3-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.dan-3-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#dan-4-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#dan-4-box:hover{
  transform: rotateY(180deg);
}

#dan-4-box .dan-4-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#dan-4-box .dan-4-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num4-3{
  position: relative;
  font-size: 50px;

}

#dan-4{

   width: 100px;
   height: 100px;
   position: absolute;

}

#dan-4-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.dan-4-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#dan-5-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#dan-5-box:hover{
  transform: rotateY(180deg);
}

#dan-5-box .dan-5-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#dan-5-box .dan-5-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num5-3{
  position: relative;
  font-size: 50px;

}

#dan-5{

   width: 100px;
   height: 100px;
   position: absolute;

}

#dan-5-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.dan-5-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#dan-6-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#dan-6-box:hover{
  transform: rotateY(180deg);
}

#dan-6-box .dan-6-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#dan-6-box .dan-6-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num6-3{
  position: relative;
  font-size: 50px;

}

#dan-6{

   width: 100px;
   height: 100px;
   position: absolute;

}

#dan-6-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.dan-6-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#dan-7-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#dan-7-box:hover{
  transform: rotateY(180deg);
}

#dan-7-box .dan-7-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#dan-7-box .dan-7-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num7-3{
  position: relative;
  font-size: 50px;

}

#dan-7{

   width: 100px;
   height: 100px;
   position: absolute;

}

#dan-7-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.dan-7-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}




#ill-1-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ill-1-box:hover{
  transform: rotateY(180deg);
}

#ill-1-box .ill-1-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ill-1-box .ill-1-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num4{
  position: relative;
  font-size: 50px;

}

#ill-1{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ill-1-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ill-1-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#ill-2-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ill-2-box:hover{
  transform: rotateY(180deg);
}

#ill-2-box .ill-2-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ill-2-box .ill-2-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num2-4{
  position: relative;
  font-size: 50px;

}

#ill-2{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ill-2-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ill-2-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#ill-3-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ill-3-box:hover{
  transform: rotateY(180deg);
}

#ill-3-box .ill-3-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ill-3-box .ill-3-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num3-4{
  position: relative;
  font-size: 50px;

}

#ill-3{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ill-3-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ill-3-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}




#ill-4-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ill-4-box:hover{
  transform: rotateY(180deg);
}

#ill-4-box .ill-4-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ill-4-box .ill-4-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num4-4{
  position: relative;
  font-size: 50px;

}

#ill-4{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ill-4-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ill-4-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#ill-5-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ill-5-box:hover{
  transform: rotateY(180deg);
}

#ill-5-box .ill-5-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ill-5-box .ill-5-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num5-4{
  position: relative;
  font-size: 50px;

}

#ill-5{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ill-5-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ill-5-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}

#ill-6-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ill-6-box:hover{
  transform: rotateY(180deg);
}

#ill-6-box .ill-6-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ill-6-box .ill-6-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num6-4{
  position: relative;
  font-size: 50px;

}

#ill-6{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ill-6-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ill-6-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#ill-7-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#ill-7-box:hover{
  transform: rotateY(180deg);
}

#ill-7-box .ill-7-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#ill-7-box .ill-7-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num7-4{
  position: relative;
  font-size: 50px;

}

#ill-7{

   width: 100px;
   height: 100px;
   position: absolute;

}

#ill-7-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.ill-7-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#crop-1-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#crop-1-box:hover{
  transform: rotateY(180deg);
}

#crop-1-box .crop-1-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#crop-1-box .crop-1-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num5{
  position: relative;
  font-size: 50px;

}

#crop-1{

   width: 100px;
   height: 100px;
   position: absolute;

}

#crop-1-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.crop-1-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#crop-2-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#crop-2-box:hover{
  transform: rotateY(180deg);
}

#crop-2-box .crop-2-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#crop-2-box .crop-2-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num2-5{
  position: relative;
  font-size: 50px;

}

#crop-2{

   width: 100px;
   height: 100px;
   position: absolute;

}

#crop-2-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.crop-2-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#crop-3-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#crop-3-box:hover{
  transform: rotateY(180deg);
}

#crop-3-box .crop-3-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#crop-3-box .crop-3-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num3-5{
  position: relative;
  font-size: 50px;

}

#crop-3{

   width: 100px;
   height: 100px;
   position: absolute;

}

#crop-3-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.crop-3-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}




#crop-4-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#crop-4-box:hover{
  transform: rotateY(180deg);
}

#crop-4-box .crop-4-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#crop-4-box .crop-4-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num4-5{
  position: relative;
  font-size: 50px;

}

#crop-4{

   width: 100px;
   height: 100px;
   position: absolute;

}

#crop-4-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.crop-4-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#crop-5-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#crop-5-box:hover{
  transform: rotateY(180deg);
}

#crop-5-box .crop-5-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#crop-5-box .crop-5-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num5-5{
  position: relative;
  font-size: 50px;

}

#crop-5{

   width: 100px;
   height: 100px;
   position: absolute;

}

#crop-5-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.crop-5-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}




#crop-6-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#crop-6-box:hover{
  transform: rotateY(180deg);
}

#crop-6-box .crop-6-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#crop-6-box .crop-6-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num6-5{
  position: relative;
  font-size: 50px;

}

#crop-6{

   width: 100px;
   height: 100px;
   position: absolute;

}

#crop-6-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.crop-6-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#crop-7-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#crop-7-box:hover{
  transform: rotateY(180deg);
}

#crop-7-box .crop-7-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#crop-7-box .crop-7-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num7-5{
  position: relative;
  font-size: 50px;

}

#crop-7{

   width: 100px;
   height: 100px;
   position: absolute;

}

#crop-7-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.crop-7-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}
#fen-1-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#fen-1-box:hover{
  transform: rotateY(180deg);
}

#fen-1-box .fen-1-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#fen-1-box .fen-1-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num6{
  position: relative;
  font-size: 50px;

}

#fen-1{

   width: 100px;
   height: 100px;
   position: absolute;

}

#fen-1-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.fen-1-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#fen-2-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#fen-2-box:hover{
  transform: rotateY(180deg);
}

#fen-2-box .fen-2-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#fen-2-box .fen-2-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num2-6{
  position: relative;
  font-size: 50px;

}

#fen-2{

   width: 100px;
   height: 100px;
   position: absolute;

}

#fen-2-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.fen-2-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}



#fen-3-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#fen-3-box:hover{
  transform: rotateY(180deg);
}

#fen-3-box .fen-3-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#fen-3-box .fen-3-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num3-6{
  position: relative;
  font-size: 50px;

}

#fen-3{

   width: 100px;
   height: 100px;
   position: absolute;

}

#fen-3-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.fen-3-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#fen-4-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#fen-4-box:hover{
  transform: rotateY(180deg);
}

#fen-4-box .fen-4-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#fen-4-box .fen-4-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num4-6{
  position: relative;
  font-size: 50px;

}

#fen-4{

   width: 100px;
   height: 100px;
   position: absolute;

}

#fen-4-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.fen-4-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#fen-5-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#fen-5-box:hover{
  transform: rotateY(180deg);
}

#fen-5-box .fen-5-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#fen-5-box .fen-5-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num5-6{
  position: relative;
  font-size: 50px;

}

#fen-5{

   width: 100px;
   height: 100px;
   position: absolute;

}

#fen-5-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.fen-5-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#fen-6-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#fen-6-box:hover{
  transform: rotateY(180deg);
}

#fen-6-box .fen-6-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#fen-6-box .fen-6-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num6-6{
  position: relative;
  font-size: 50px;

}

#fen-6{

   width: 100px;
   height: 100px;
   position: absolute;

}

#fen-6-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.fen-6-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


#fen-7-box{
  
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer;

}

#fen-7-box:hover{
  transform: rotateY(180deg);
}

#fen-7-box .fen-7-box-front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#fen-7-box .fen-7-box-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

#front-num7-6{
  position: relative;
  font-size: 50px;

}

#fen-7{

   width: 100px;
   height: 100px;
   position: absolute;

}

#fen-7-para{
  position: absolute;
  font-size: 20px;
  right: 5px;
}

.fen-7-box-back h2{
  position: absolute;
  right: 80px;
  font-size: 40px;
  bottom: 80px;
}


.ele-button{
    margin-left: 60px;
    border:none;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 24px;
    box-shadow: white 2px;
    color: darkgreen;
    cursor: pointer;
}






.inci img{

  width: 90px;
  height: 70px;
  position: absolute;
}

.inci h2{

  margin-left: 110px;
  margin-top: 60px;
  margin-bottom: 0;
  color: darkgreen;
  font-size: 60px;
}
.inci p{

  margin-top: 0;
  color: darkgreen;
  margin-left: 60px;
}
.inci label{

  margin-top: 0;
  margin-left: 120px;
  color: blue;
  color: darkgreen;
  cursor: pointer;
}






.inci table{
      margin-top: 40px;
      margin-left: 50px;
      width: 700px;
      margin-right: 60px;
      font-size: 20px;

    }

.inci table thead{

      background-color: rgb(67,173,71,0.6);


    }

.inci table tbody{
      background-color: rgb(0,251,10,0.16);
      text-align: center;
    }
.inci table thead th{
      padding-bottom: 10px;
      padding-top: 10px;
       border-radius: 10px;
    } 

.inci table tbody td{
      
       border-radius: 10px;
    }

.inci table tbody tr{
      line-height: 40px;
    }


input[type="checkbox"]{
  display: none;
}

#active-map{
  margin-top: 55px;
  margin-left: 20px;
  width: 700px;
  height: 500px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
}

#success-map{
  margin-top: 55px;
  margin-left: 20px;
  width: 700px;
  height: 500px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
}

#unsuccess-map{
  margin-top: 55px;
  margin-left: 20px;
  width: 700px;
  height: 500px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
}



.active-dis-chart{
  position: absolute;
  background-color: #ffffff;
  width: 600px;
  top: 37vh;
  height: 500px;
  margin-left: 900px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
}

#active-dis{
  margin-top: 60px;
}

.active-dis-chart h3{

  margin-left: 170px;

}

.success-dis-chart{
  position: absolute;
  background-color: #ffffff;
  width: 600px;
  top: 37vh;
  height: 500px;
  margin-left: 900px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
}



#success-dis{
  margin-top: 60px;
}

.success-dis-chart h3{

  margin-left: 170px;

}


.unsuccess-dis-chart{
  position: absolute;
  background-color: #ffffff;
  width: 600px;
  top: 37vh;
  height: 500px;
  margin-left: 900px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
}



#unsuccess-dis{
  margin-top: 60px;
}

.unsuccess-dis-chart h3{

  margin-left: 170px;

}




.container3{

  position: absolute;
  top:155vh;


}


.container3 select{
  padding-right: 200px;
  background-color: #14671C;
  color: white;
  padding-left: 50px;
  font-size: 16px;
  padding-top:5px;
  padding-bottom: 5px;
  margin-left: 30px;
  border:none;


}

.container3-dis{
  margin-top: 20px;
}


.polonnaruwa{

  display: block;
}

.anuradhapura{
  display: none;
}

.ampara{
  display: none;
}

.hambanthota{
  display: none;
}


#map-polonnaruwa{
  margin-top: 30px;
  margin-left: 20px;
  width: 700px;
  height: 500px;
 box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
  
}
#map-polonnaruwa iframe{
  
  width: 696px;
  height: 496px;
  
  
}

.polonnaruwa-status-chart{

  width: 400px;
  height: 450px;
  background-color: #ffffff;
  top: 200px;
  position: absolute;
  margin-left: 1000px;
  margin-top: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);

}

#map-anuradhapura{
 margin-top: 30px;
  margin-left: 20px;
  width: 700px;
  height: 500px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
  
}

#map-anuradhapura iframe{
  
  width: 696px;
  height: 496px;
  
  
}


.anuradhapura-status-chart{

  width: 400px;
  height: 450px;
  top: 200px;
  position: absolute;
  background-color: #ffffff;
  margin-left: 1000px;
  margin-top: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);

}


#map-ampara{
  margin-top: 30px;
  margin-left: 20px;
  width: 700px;
  height: 500px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
  
}

#map-ampara iframe{
  
  width: 696px;
  height: 496px;
  
  
}



.ampara-status-chart{

 width: 400px;
  height: 450px;
  top: 200px;
  position: absolute;
  margin-left: 1000px;
  background-color: #ffffff;
  margin-top: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);

}


#map-hambanthota{
 margin-top: 30px;
  margin-left: 20px;
  width: 700px;
  height: 500px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
  
}
#map-hambanthota iframe{
  
  width: 696px;
  height: 496px;
  
  
}


.hambanthota-status-chart{

  width: 400px;
  height: 450px;
  top: 200px;
  position: absolute;
  margin-left: 1000px;
  background-color: #ffffff;
  margin-top: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);

}

.hambanthota-status-chart h3{
  margin-left: 70px;
}

.polonnaruwa-status-chart h3{
  margin-left: 70px;
}


.container3-dis label{

  margin-left: 60px;
}















.container4{
  position: absolute;
  top: 285vh;

}
.container4 h1{
  padding-right: 200px;
  background-color: #14671C;
  color: white;
  padding-left: 50px;
  font-size: 16px;
  padding-top:5px;
  padding-bottom: 5px;
  margin-left: 30px;
  border:none;


}

.container4 ul{
  display: inline-block;
}

.allUsers{
  width: 500px;
  height: 400px;
  margin-left: 50px;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
}

.activeUsers{
  width: 500px;
  height: 400px;
  margin-left: 180px;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 251, 10, 0.16);
}

.table{

  border-collapse: collapse;
  margin:25px 0;
  margin-left: 40px;
  font-size: 0.9em;
  min-width: 400px;
}

.table thead tr{
  background-color: darkgreen;
  color:#ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td{
  padding:12px 15px;
}


.table tbody tr{
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even){
  background-color: rgba(0, 251, 10, 0.16);
}

.table tbody tr:last-of-type{

  border-bottom: 2px solid #009879;
}

#active-map-header{
  position: absolute;
  margin-left: 250px;
}

.map-dis-header{

  position: absolute;
  margin-left: 250px;

}





.inci p{
  position: absolute;
  color: darkgreen;
  text-align: center;
}





 #front-num1{

  position: absolute;
  top:-50px;

}

#front-num2{

  position: absolute;
  top:-50px;

}
#front-num3{

  position: absolute;
  top:-50px;

}

#front-num4{

  position: absolute;
  top:-50px;

}

#front-num5{

  position: absolute;
  top:-50px;

}

#front-num6{

  position: absolute;
  top:-50px;

}














