#main {
    z-index: 100;
}

.contanier_2 {
    position: relative;
    background: rgba(255, 255, 255, 0.58);
    width: 60%;
    height: 500px;
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 140px;
    margin-bottom: 70px;
    padding-bottom: 0%;
    border-radius: 10px;
}

.view_profile,
.edit_profile {
    width: 50%;
    text-align: center;
}

.view_profile a,
.edit_profile a {
    font-weight: 700;
    font-size: large;
}

.edit_profile :hover {
    color: rgb(82, 214, 64);
}

.view_profile :hover {
    color: rgb(3, 14, 1);
}

.edit_profile {
    background-color: green;
    border-radius: 7px 7px 0px 0px;
}

.edit_profile a {
    color: rgba(255, 255, 255, 0.918);
}

.view_profile {
    background: none;
    border-radius: 0px 7px 0px 0px;
}

.view_profile a {
    color: rgba(45, 90, 51, 0.89);
}

.contanier_2-1 {
    display: flex;
    position: inherit;
    width: 100%;
    color: rgb(14, 73, 7);
    background: none;
    height: auto;
    /* padding: 1px 10px;
      text-align: center; */
    border-radius: 7px;
}


/* edit */

.edit_icon {
    width: 5%;
    float: right;
    padding-right: 2%;
}




/* navbar 2 */

.nav_edit {
    width: auto;
}

.links_to_pages {
    width: auto;
    color: #fff;
    font-size: small;
    text-align: right;
}

.links_to_pages li:hover {
    color: rgb(16, 165, 41);
}

table{
    position: absolute;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.6); 
    color: darkgreen;
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding-bottom: 70px;
    padding-top: 30px;
    left: 200px;
}
table tr{
    
margin-top: 10px;
}


table input[type="password"]
{
    border-radius: 10px;
    background-color: white;
    border:white;


}

table input[type="submit"]
{
    background-color: darkgreen;
    border-radius: 13px;
    position: absolute;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    left: 280px;
}




@media screen and (max-width: 900px) {
    .contanier_2 {
        position: relative;
        background: rgba(255, 255, 255, 0.58);
        width: 78%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 70px;
        margin-bottom: 70px;
        padding-bottom: 0%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 720px) {
    .contanier_2 {
        position: relative;
        background: rgba(255, 255, 255, 0.58);
        width: 78%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 70px;
        margin-bottom: 70px;
        padding-bottom: 0%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 490px) {
    .contanier_2 {
        width: 78%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 70px;
        margin-bottom: 70px;
        padding-bottom: 0%;
        border-radius: 10px;
    }
    .col_1,
    .col_2 {
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
        text-align: left;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .save_button input[type="submit"] {
        font-size: smaller;
    }
    .cancel_button input[type="submit"] {
        font-size: smaller;
    }
}


/* validate messages */

@-webkit-keyframes slideDown {
    0%,
    100% {
        -webkit-transform: translateY(-50px);
    }
    10%,
    90% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes slideDown {
    0%,
    100% {
        -moz-transform: translateY(-50px);
    }
    10%,
    90% {
        -moz-transform: translateY(0px);
    }
}

