.container_3 {
    position:inherit;
    background: rgba(255, 255, 255, 0.58);
    width: 80%;
    height: 700px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 10px;
  }
  .subcontainer_3-1 {
    position: inherit;
    margin-top: 10px;
    width: 90%;
    background-color: rgba(67, 173, 71, 0.6); 
    margin-left: 4%;
    margin-right: 5%;
    height: auto;
    padding: 1px 10px;
    text-align: center;
    border-radius: 10px;
  }
  #table-name {
    position: inherit;
    width: 50%;
    margin-left: 25%;
  }
  .subcontainer_3-2 {
    position: inherit;
    margin-top: 10px;
    width: 90%;
    background-color: rgba(67, 173, 71, 0.6); 
  
    margin-left: 4%;
    margin-right: 5%;
    height: auto;
    padding: 10px 10px;
    border-radius: 10px;
    display: inline-block;
  }
  select {
    margin-left: 2%;
    width: 97%;
    text-align: left;
    height: 40px;
    padding-left: 10%;
    border-radius: 10px;
    background-color: rgba(67, 173, 71, 0.6); 
  
  }
  
  option {
    display: inline-block;
    width: auto;
    height: 20px;
    padding: 5px 16px;
    border-radius: 10px;
    background-color: rgba(67, 173, 71, 0.6); 
  
  }
  .group-1 {
    position: inherit;
    height: 20px;
    margin-top: 10px;
    margin-left: 8px;
    padding-top: 10px;
  }
  
  .group-2 {
    position: inherit;
    height: 20px;
    margin-top: 8px;
    margin-left: 4px;
    padding-top: 10px;
  }
  .group-3 {
    position: inherit;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;
    padding-top: 10px;
  }
  
  option .group-1,
  option .group-2,
  option .group-3:hover {
    background-color: rgb(15, 165, 15);
  }
  
  .search-container {
    position: inherit;
    top: 11px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100%;
  }
  .search-container input[type="text"] {
    position: inherit;
    background: #E9F1EA;
    height: 28px;
    width: 30%;
    border: none;
    border-radius: 10px;
  }
  .search-btn{
      background-color: darkgreen;
      color: white;
      width: 70px;
      text-align: center;
      padding: 6px 13px;
      border-radius: 10px;
      border: none;
  }
  .search-btn:hover{
      background-color: green;
  }
  .subcontainer_3-3 {
    position:inherit;
    top: 10px;
    width: 92%;
    margin-left: 4%;
    margin-right: 5%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
  }
  .navigatereport{
    width:100%;
    /* height: 100px; */
    margin-left: 4%;
    padding-top: 10px;
    /* background-color: blue; */
    
  }
  .navigatereport a{
      display: inline;
      width: 5%;
      border-radius: 10px;
   }
   .myreportaccept{
    text-align:center ;
    width:10.3%;
    padding: 10px 10%;
    background-color: chartreuse;
  
  }
   
  .text {
    display: inline-block;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    border: none;
    background-color: #daeee1c2;
    font-size: 16px;
    color: rgb(14, 12, 12);
    font-weight: 1000px;
    text-align: left;
  }
  select {
      text-align: center;
      padding: 0px 0px;
  }
  .myreportpending{
    width:1.3%;
    padding: 10px 8%;
    background-color: chartreuse;
  }
  .allreport{
    width:20.3%;
    margin-left: 4%;
    padding: 10px 10%;
    background-color: chartreuse;
  }
  /* .navigatereport */
  table {
       position:inherit;
       width: 100%;
       margin-top: 10px;
       margin-left: 0px;
  }
  td, th {
      padding: 10px;
      text-align: center;
  }
  th {
  
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: rgba(67, 173, 71, 0.6); 
      color:black;
      border-radius: 10px;
    }
  td{
      border-radius: 10px;
      background-color:  rgba(255, 255, 255, 0.36);
  }
  .view{
    width: 30px;
    height:30px;
  }
  #view{
      padding: 0px 0px;
  }
  #group-1:hover {
      background-color: green;
    }
  .subcontainer_3-4{
      margin-top: 420px;
      position: inherit;
      background-color: #eff5f054;
      padding: 1px 440px;
      margin-left: 1%;
      width: 26%;
     border-radius: 10px;
      
  }
  .subcontainer_3-4 a{
    padding: 10px 10px ; 
    background-color:#056412 ;border-radius: 10px;   
  }
  button{
    border: none;
  }
  a {
    text-decoration: none;
  }
  .view-1 {
      /* display: none;  */
      position: fixed;
      z-index: 1; 
      left: 0%;
      top: 80px;
      width: 100%; 
      height: 80%; 
      overflow: auto; 
      background-color: #475d4a81;
      padding-top: 50px;
      border-radius: 10px;
  }
  .close{
    position: relative;
    float:right;
    margin-top: 5px;
    margin-right: 40px;
    font-size: 50px;
  }
  .subcontainer_3-5{
     padding:20px 20px;
     margin-left: 10%;
     margin-right: 10%;
     display: block;
     border-radius: 10px;
     background-color: whitesmoke;
  }
  label{
      padding: 10px 10px;
      margin-top: 40px;
  }
  .subcontainer_3-6{
    text-align: center;
    padding: 1px 10px;
    width: 98%;
    height: auto;
    background-color: rgb(3, 90, 3);
    border-radius: 10px;
  }
  #map{
    position: inherit;
    width:90% ;
     margin-top: 20px;
    margin-left: 5%;
    /* /margin-right: 10%; */
    height:300px;
    background:rgba(255, 255, 255, 0);
    border-radius:10px;
  }
  #detail{
    position: inherit;
    margin-top: -300px;
    padding-top: 10px;
    margin-left: 50%;
    width: 50%;
    height: 100px;
    background-color: rgb(242, 250, 244);
  }
  #message1{
    position: absolute;
    height: auto;
    width: 50%;
    /* text-align: ; */
    z-index: 101;
    left:22.5%;
    text-align: center;
    border-radius: 20px ; 
    background-color: #e3e3e3;
  }
  #detail h{
    margin-top: 100px;
    background-color: rgba(237, 240, 233, 0);
    padding: 8px 10px;
  }
  input[type=image] {
    width: 20px; height:20px; padding: left 2px;
  }
  #allreport{
    width: 80%;
    padding: 10px 70px;
    background-color: rgb(3, 90, 3);
  
  }
  #myreportaccept{
    width: 50%;
    padding: 10px 90px;
    background-color: rgb(3, 90, 3);
  
  }
  #myreportpending{
    width: 50%;
    padding: 10px 70px;
    background-color: rgb(3, 90, 3);
  
  }
  #myreportpendingCrop{
    width: 50%;
    padding: 10px 50px;
    background-color: rgb(3, 90, 3);
  
  }
  #registerAccept{
    width: 50%;
    padding: 10px 50px;
    background-color: rgb(3, 90, 3);
    
  }
  #registerVillger{
    width: 50%;
    padding: 10px 60px;
    background-color: rgb(3, 90, 3);
    
  }
  #cropPending{
    width: 50%;
    padding: 10px 60px;
    background-color: rgb(3, 90, 3);
    
  }
  #cropView{
    width: 50%;
    padding: 10px 60px;
    background-color: rgb(3, 90, 3);
    
  }
  @media (max-width: 900px) {
  
    .container_3  {
      width: 98%;
      margin-top: 60px;
      margin-left: 1%;
      margin-right: 1%;
    }
    .navigatereport a{
      display: block;
      margin-left: 14%;
      width: 70%;
      padding: 2px 2px;
  
    }
    .navigatereport .allreport{
      position: inherit;
      width: 70%;
    }
    .subcontainer_3-1{
        width:90%;
        margin-left: 3%;
        margin-right: 1%
    }
    .subcontainer_3-2{
        width:100%;
        display: block;
        margin-left: 3%;
        margin-right: 1%;
        height:auto;
    
    }
    .subcontainer_3-3{
        width:96%;
        margin-left: 3%;
        margin-right: 1%;
    
    }
    
    select{
        width: 90%;
    }
    table{
        margin-left:0% ;
        width: 100%;
        padding: 10px 10px;
    }
    .subcontainer_3-4{
      /* text-align: center; */
      margin-top: 420px;
      margin-left: 30%;
      width: 100%;
    }
    .subcontainer_3-4 a{
      /* margin-left: 10%;  */
      width: 10%;
      padding: 5px 5px;
    }
    .search-container{
        position: inherit;
        float:none;
        top: 11px;
        margin-right: 0px;
        width: 90%;
        padding-top: 10px;
    }
    td, th {
        font-size: 12px;
        padding: 1px 8px;
        width:auto;
        height: 5px;
        text-align: center;
    }
    .search-btn{
        position: inherit;
        float: none;
        margin-top: 10px;
        width:100%;
        height: 30px;
    }
    .close{
        margin-right: 5px;
    }
  
  }