
body {

   
    background-repeat: no-repeat;
    margin: 0;
    
    background-attachment: fixed;
     background-color: rgba(255, 255, 255, 0.36);
    font-family: Arial, Helvetica, sans-serif;

  }
  
  #main {
    width: 100%;
    height: auto;
    background-color: #14671c;
    position: sticky;
    z-index: 999;
    top: 0px;
  }
  
  .mybar {
    float: right;
    margin-top: 10px;
    margin-right: 15px;

  } 
 a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:black;
    line-height: 1.6em;
    text-align-last: center;
    font-size: medium;
  }
  
  ul {
    margin-top: 0px;
    margin-right: 0%;
  }
  li {
    display: inline-block;
    text-align-last: center;
    padding: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  #navbar_1{
    position: relative;
    float: right;
    margin-top: 0px;
    padding :0px;

  }
  a:visited {
      font-weight: bold;
      color: white;
      background-color: darkgreen;
  }
  #icon {
    margin-left: 20px;
    width: 150px;
    height: 80px;
  }

  #home {
    background-color: #14671c;
  }
  
  #home:hover , #home_1:hover {
    background-color: darkgreen;
  }
  #home_1{
    position: absolute;
    top:20px;
    right:200px;
    text-align: center;
  }
  #report_1{
    position: absolute;
    top:20px;
    right:100px;
    text-align: center;
  }
  #report {
    background-color: #14671c;
  }
  
  #report:hover ,#report_1:hover {
    background-color: darkgreen;
  }
  
  #register {
    background-color: #14671c;
  }
  
  #register:hover {
    background-color: rgba(255, 255, 255, 0.36);
  }
  
  #login {
    background-color: #14671c;
  }
  
  #login_text {
    color: white;
  }
  #login_text:hover{
      color: #00fb0a;
    }
  #login:hover {
    background-color: rgba(0, 251, 10, 0.16);
  }
  #login:visited{
    font-weight: bold;
    background-color: bisque;
  }
  .user_btn {
    float: none;
    margin-top: 0px;
    padding: 2px 0px;
    padding-left: 5px;
    width: 40px;
    height:40px;
    margin-right:10px;
    cursor: pointer;
  }
  .dropbtn {
    background-color: rgba(16, 87, 7, 0.467);
    color: white;
    padding: 16px;
    font-size: 16px;

    border: none;
    border-radius: 20px;
    cursor: pointer;
    width:120px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: green;
  }
  .dot{
    height: 48px;
    width: 52px;
    padding: 1px 1px;
    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: #14671c;
    display: inline-block;
  }
  .dropdown {
    position: relative
    ;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    right:1px;
    background-color: rgba(15, 95, 4, 0.911);
    padding: 0px 16px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    width:100px;
  }
  
  .dropdown-content a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 10px;;
    background-color: rgba(15, 95, 4, 0.911);
  }
  .dropdown a:hover {
      background-color: #ddd;
      color : black;
   }

  .show {display: block;}
  .down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }



/*  .banner-area{

  
background: url(wlimg.jpeg);
background-size: cover;
top: -21px;
background-repeat: no-repeat;

height: 105vh;


position: absolute;
width: 100%;






}
*/



.banner{
  height: 100vh;
  position: relative;
  top: -22px;
  
 
}

.imgs{
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*display: none;*/
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.banner h3{
  color: #ffffff;
  opacity: 1;
  z-index: 1;
}


.banner #header{
  background-color: rgba(20,103,28,0.1);
  font-size: 50px;
  position: absolute;
  border:none;
  
 
 
  top: 20vh;
 left: 0%;
  color: #FFFFFF;
   
    box-shadow:3px 3px  rgba(20,103,28,0.1);
}





.banner #regButton{
  background-color: rgba(20,103,28,0.5);
  font-size: 36px;
  position: absolute;
  border:none;
  border-radius: 10px;
  padding:30px;
  cursor: pointer;
  top: 50vh;
 left: 42%;
  color: #FFFFFF;
   
    box-shadow:3px 3px  rgba(20,103,28,0.9);
}






#intro{
  background-color: #14671C;
  text-align: center;
  position: absolute;
  top: 102vh;
  color: #FFFFFF;
  font-size: 20px;
  padding-bottom: 25px;
}
#intro img{
  position: relative;
  left: 4%;
}

#intro p{
  margin-left: 50vh;
  margin-right: 50vh;

}
#feature{
  background-color:  rgba(20,103,28,0.25);
  top:155vh;
 
  width: 100%;
  margin-bottom: 0;
  position: absolute;

}
/*#feature h1{
  text-align: center;
  
}*/
#fr1{
  position: relative;
  width: 100%;
  margin: 0;


}
#fr1 ul{
  display: inline-block;
}

#fr1-1{
  
  margin-top: 30px;
  margin-bottom: 0px;
  position: relative;
  width: 380px;
  background-color:#FFFFFF;
  box-shadow:8px 8px  rgba(20,103,28,0.5);
    margin-left: 59px;
 
  height: 260px;

  
}


#fr1-1 img{
  position: relative;
  width: 100px;
  height: 60px;
  top: 3vh;
  left: 10px;
  
}

#fr1-1 h2{
    position: relative;
  top: 0vh;

  text-align: center;
  padding-top: 0px;
}

#fr1-1 p{
   position: relative;
  top: 2vh;

  text-align: center;
  margin-left: 75px;
  margin-right: 40px;

}

#fr1-2{
  
 margin-top: 30px;
  margin-bottom: 0px;
  position: relative;
  width: 380px;
  background-color:#FFFFFF;
  box-shadow:8px 8px  rgba(20,103,28,0.5);
    margin-left: 59px;
 
  height: 260px;

  
}



#fr1-2 img{
 
  position: relative;
  width: 100px;
  height: 60px;
  top: 3vh;
  left: 0px;
  
}

#fr1-2 h2{
   position: relative;
  top: 0vh;

  text-align: center;
  padding-top: 0px;
}

#fr1-2 p{
  position: relative;
  top: 2vh;

   text-align: center;
  margin-left: 75px;
  margin-right: 40px;

}

#fr1 ul li{
  display: inline-block;
}



#fr1-3{
  
  margin-top: 30px;
  margin-bottom: 0px;
  position: relative;
  width: 380px;
  background-color:#FFFFFF;
  box-shadow:8px 8px  rgba(20,103,28,0.5);
    margin-left: 59px;
 
  height: 260px;

  
}



#fr1-3 img{
   position: relative;
  width: 100px;
  height: 60px;
  top: 3vh;
  left: 0px;
  
}

#fr1-3 h2{
   position: relative;
  top: 0vh;

  text-align: center;
  padding-top: 0px;
}

#fr1-3 p{
  position: relative;
  top: 2vh;

   text-align: center;
  margin-left: 75px;
  margin-right: 40px;

}


#fr2{

  position: relative;
  width: 100%;
  margin-bottom: 0px;


}
#fr2 ul{
  display: inline-block;
}

#fr2-1{
  
 margin-top: 30px;
  margin-bottom: 0px;
  position: relative;
  width: 380px;
  background-color:#FFFFFF;
  box-shadow:8px 8px  rgba(20,103,28,0.5);
    margin-left: 59px;
 
  height: 260px;

  
}


#fr2-1 img{
  position: relative;
  width: 90px;
  height: 50px;
  top: 3vh;
  left: 0px;
  
}

#fr2-1 h2{
   position: relative;
  top: 0vh;

  text-align: center;
  padding-top: 0px;
}

#fr2-1 p{
 position: relative;
  top: 2vh;

  text-align: center;
  margin-left: 75px;
  margin-right: 40px;

}

#fr2-2{
  margin-top: 30px;
  margin-bottom: 0px;
  position: relative;
  width: 380px;
  background-color:#FFFFFF;
  box-shadow:8px 8px  rgba(20,103,28,0.5);
    margin-left: 59px;
 
  height: 260px;

  
}



#fr2-2 img{
   position: relative;
  width: 100px;
  height: 60px;
  top: 3vh;
  left: 0px;
  
}

#fr2-2 h2{
    position: relative;
  top: 0vh;
  font-size: 18px;
  text-align: center;
  padding-top: 0px;
}

#fr2-2 p{
  position: relative;
  top: 2vh;

  text-align: center;
  margin-left: 75px;
  margin-right: 40px;

}

#fr2 ul li{
  display: inline-block;
}



#fr2-3{
  
  margin-top: 30px;
  margin-bottom: 0px;
  position: relative;
  width: 380px;
  background-color:#FFFFFF;
  box-shadow:8px 8px  rgba(20,103,28,0.5);
    margin-left: 59px;
 
  height: 260px;
  
}



#fr2-3 img{
  position: relative;
  width: 100px;
  height: 60px;
  top: 3vh;
  left: 0px;
  
}

#fr2-3 h2{
    position: relative;
  top: 0vh;

  text-align: center;
  padding-top: 0px;
}

#fr2-3 p{
 position: relative;
  top: 2vh;

  text-align: center;
  margin-left: 75px;
  margin-right: 40px;

}



#conclusion{
background-color: #14671C;
color: white;
height: 200px;
position: relative;

}
#conclusion ul li{
  display: inline-block;
}

 #address{

  font-size: 16px;
  text-align: left;
  position: absolute;
 top: 1vh;

}

 #site-map{

  font-size: 16px;

  position: absolute;
  top: 1vh;
  left: 40%;



}
#site-map h2{

 top:-10px;
 margin-bottom: 0;
 padding-bottom: 0;
 padding:0;
  

}
#site-map h3{

 top:0;
 margin-bottom: 0;
 padding-bottom: 0;
 padding:0;
 margin-right: 10px;
  

}

 #contact{

  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 0vh;
  left: 80%;


}

#contact ul {

  display: block;
  margin:0;
  padding: 0;
  padding-top: 15px;
  
}


#contact ul ul{

  display: block;


}
#contact ul ul li{

  display: inline-block;
  margin:1px;
  padding: 1px;


}



#contact img{

  width: 40px;
  margin:0;
}

#contact ul li img{
  width: 40px;
 
  margin:0;
}
















  @media (max-width: 900px) {
    #navbar {
      float: none;
      height: auto;
    }
    li{
      display: block;
      width: 100%;
    }

    ul{
        margin-right: 5%;
    }
  }
  @media screen and (max-width: 900px) {
    .mybar li{
      display: none;
    }
    
    #home_1, #report_1{
      position: inherit;
    }
  
    .mybar .icon {
      position: absolute;
      right: 5%;
      top: 20px;
      height: 40px;
      background-color: rgb(3, 85, 3);
    }
  
    .mybar div .bar1,
    .bar2,
    .bar3 {
      position: relative;
      display: block;
      width: 35px;
      height: 5px;
      background-color: rgb(241, 237, 237);
      margin: 6px 10px;
      transition: 0.4s;
    }



  }
  
  @media (max-width: 900px) {
    #navbar {
      float: none;
      height: auto;
    }
    button , li {
      display: block;
      width: 100%;
    }
    .user_btn{
      position: fixed;
      padding-top: 5px;
      right:2%;
      top:15px;
    }
    .dot{
      position: fixed;
      right:2%;
      top:15px;
    
    }
    .dropdown-content{
      position:fixed;
      top:15px;
    }
    .mybar.responsive {
      position: absolute;
      width: 100%;
      height: 500px;
      top: 68px;
      background-color: rgba(15, 95, 4, 0.911);
    }
  
    .mybar.responsive ul {
      top: 0px;
      padding-top: 60px;
      width: 80%;
    }
    .mybar.responsive li {
      float: none;
      top: 0px;
      display: block;
      width: 100%;
    }
    .mybar.responsive  .dropdown-content{
      position: fixed;
      float: none;
      top: 250px;
      left :0px;
      display: block;
      width: 90%;
    }
    .mybar.responsive  .dropdown-content a{
       height: 40px;
       padding : 1px 8px;
    }

    .mybar.responsive .dropbtn {
      position: relative;
      float: none;
      top: 0px;
      display: block;
      width: 100%;
    }
   
    .mybar.responsive div.icon  {
      position: absolute;
      right: 5%;
      top: 20px;
      background-color: rgba(15, 95, 4, 0.048);
    }
    .mybar.responsive li div{
        position: absolute;
        width:80%;
        padding-left: 0px;
        margin-left: 20px;
    }
    .mybar.responsive li div a{
      width:80%;
      margin-left: 40px;
      border-radius: 10px;
  }
    .mybar.responsive div.bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
  
    .mybar.responsive div.bar2 {
      opacity: 0;
    }
  
    .mybar.responsive div.bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }




  /* }
 */


  @media(max-width:1200px){


    .banner #regButton{
  background-color: rgba(20,103,28,0.5);
  font-size: 22px;
  position: relative;
  border:none;
  border-radius: 10px;
  padding:30px;
  cursor: pointer;
  top: 50vh;
  width: 30%;
 left: 42%;
  color: #FFFFFF;
   
    box-shadow:3px 3px  rgba(20,103,28,0.9);
}


#intro{
  background-color: #14671C;
  text-align: center;
  position: absolute;
  top: 102vh;
  color: #FFFFFF;
  font-size: 16px;
  padding-bottom: 25px;
}


#intro img{
  position: relative;
  left: 4%;
}

#intro p{
  margin-left: 10vh;
  margin-right: 10vh;

}

#feature{
  /*background-color:  rgba(20,103,28,0.25);
  top:200vh;
 
  width: 100%;
  margin-bottom: 0;
  position: absolute;*/
  display: none;

}


#conclusion{
display: none;

}

  }



  @media(max-width:900px){

    
    .banner #regButton{
  background-color: rgba(20,103,28,0.5);
  font-size: 22px;
  position: relative;
  border:none;
  border-radius: 10px;
  padding:30px;
  cursor: pointer;
  top: 50vh;
  width: 30%;
 left: 42%;
  color: #FFFFFF;
   
    box-shadow:3px 3px  rgba(20,103,28,0.9);
}


#intro{
  background-color: #14671C;
  text-align: center;
  position: absolute;
  top: 102vh;
  color: #FFFFFF;
  font-size: 16px;
  height: 400px;
  padding-bottom: 25px;
}


#intro img{
  position: relative;
  left: 4%;
}

#intro p{
  margin-left: 0vh;
  margin-right: 0vh;

}

#feature{
  /*background-color:  rgba(20,103,28,0.25);
  top:176vh;
 
  width: 100%;
  margin-bottom: 0;
  position: absolute;*/
  display: none;

}



/*#fr1{
  position: relative;
  width: 100%;




}
#fr1 ul{
  display: block;
  ;
}

#fr1-1{
  
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  width: 280px;
  background-color:#FFFFFF;
  box-shadow:6px 6px  rgba(20,103,28,0.5);
  margin-left: 140px;
 
  height: 180px;

  
}


#fr1-1 img{
  position: relative;
  width: 60px;
  height: 40px
  top: 2vh;
  left: 10px;
  
}

#fr1-1 h2{
    position: relative;
  top: 0vh;
  font-size: 18px;
  text-align: center;
  padding-top: 0px;
}

#fr1-1 p{
   position: relative;
  top: 1vh;
  font-size: 13px;
  text-align: left;

  margin-left: 60px;
  margin-right: 40px;

}

#fr1-2{
  
margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  width: 280px;
  background-color:#FFFFFF;
  box-shadow:6px 6px  rgba(20,103,28,0.5);
  margin-left: 59px;
 
  height: 180px;


  
}



#fr1-2 img{
 
  position: relative;
  width: 60px;
  height: 40px
  top: 3vh;
  left: 0px;
  
}

#fr1-2 h2{
    position: relative;
  top: 0vh;
  font-size: 18px;
  text-align: center;
  padding-top: 0px;
}

#fr1-2 p{
  position: relative;
  top: 1vh;
  font-size: 13px;
  text-align: left;

  margin-left: 60px;
  margin-right: 40px;

}

#fr1 ul li{
  display: inline-block;
}



#fr1-3{
  
 margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  width: 280px;
  background-color:#FFFFFF;
  box-shadow:6px 6px  rgba(20,103,28,0.5);
  margin-left: 59px;
 
  height: 180px;

  
}



#fr1-3 img{
   position: relative;
  width: 60px;
  height: 40px
  top: 3vh;
  left: 0px;
  
}

#fr1-3 h2{
   position: relative;
  top: 0vh;
  font-size: 18px;
  text-align: center;
  padding-top: 0px;
}

#fr1-3 p{
  position: relative;
  top: 1vh;
  font-size: 13px;
  text-align: left;

  margin-left: 60px;
  margin-right: 40px;

}


#fr2{

  position: relative;
  width: 100%;
  margin-bottom: 0px;


}
#fr2 ul{
 display: block;

}

#fr2-1{
  
 margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  width: 280px;
  background-color:#FFFFFF;
  box-shadow:6px 6px  rgba(20,103,28,0.5);
  margin-left: 59px;
 
  height: 180px;


  
}


#fr2-1 img{
  position: relative;
  width: 60px;
  height: 40px
  top: 3vh;
  left: 0px;
  
}

#fr2-1 h2{
   position: relative;
  top: 0vh;
  font-size: 18px;
  text-align: center;
  padding-top: 0px;
}

#fr2-1 p{
 position: relative;
  top: 1vh;
  font-size: 13px;
  text-align: left;

  margin-left: 60px;
  margin-right: 40px;

}

#fr2-2{
 margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  width: 280px;
  background-color:#FFFFFF;
  box-shadow:6px 6px  rgba(20,103,28,0.5);
  margin-left: 59px;
 
  height: 180px;

  
}



#fr2-2 img{
   position: relative;
  width: 60px;
  height: 40px
  top: 3vh;
  left: 0px;
  
}

#fr2-2 h2{
   position: relative;
  top: 0vh;
  font-size: 18px;
  text-align: center;
  padding-top: 0px;
}

#fr2-2 p{
  position: relative;
  top: 1vh;
  font-size: 13px;
  text-align: left;

  margin-left: 60px;
  margin-right: 40px;

}

#fr2 ul li{
  display: inline-block;
}



#fr2-3{
  
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  width: 280px;
  background-color:#FFFFFF;
  box-shadow:6px 6px  rgba(20,103,28,0.5);
  margin-left: 59px;
 
  height: 180px;

  
}



#fr2-3 img{
  position: relative;
  width: 60px;
  height: 40px;
  top: 3vh;
  left: 0px;
  
}

#fr2-3 h2{
   position: relative;
  top: 0vh;
  font-size: 18px;
  text-align: center;
  padding-top: 0px;
}

#fr2-3 p{
 position: relative;
  top: 1vh;
  font-size: 13px;
  text-align: left;

  margin-left: 60px;
  margin-right: 40px;

}*/

#conclusion{
display: none;

}

  }