.contanier {
  margin-left: 33%;
  margin-right: 35%;
  margin-top: 30px;
  background-color: rgb(11, 100, 23);
  width: 30%;
  min-height: 350px;
  border-radius: 30px;
  padding: 15px;
  padding-top: 50px;
  border: 5px green solid;
  line-height: 1.6em;
}

.login-header {
  text-align: center;
  margin-right: 20%;
  margin-left: 16%;
  margin-top: 15px;
  width: 68%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 10px;
}
.login-header h3 {
  top: 50px;
}

.group label {
  margin-left: 18%;
  color: white;
  font-size: 15px;
}

.login_form input[type="text"],
.login_form input[type="password"],
.sumbit  button {
  position: inherit;
  margin-right: 16%;
  margin-left: 16%;
  width: 65%;
  height: 25px;
  text-align: center;
  border-radius: 10px;
}

.group_link {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}

.group_link a {
  font-size: small;
}

.sumbit button {
  text-align: center;
  position: relative;
  margin-right: 15%;
  margin-left: 16%;
  margin-top: 10px;
  height: 40px;
  width: 68%;
  background-color: #00fb0a;
  border-radius: 10px;
  color: darkgreen;
  font-weight: 900;
  position: inherit;
}

.sumbit button:hover {
  background-color: darkgreen;
  color: white;
}

.login_form #username_error,
.login_form #pass_error
{

  margin-top: 2px;
  position: absolute;
  width: 345px;
  font-size: 18px;
  color: #c62828;
  background-color: rgba(255,0,0,0.1);
  text-align: center;
  padding: 0px 3px;
  border-radius: 3px;
  border: 1px solid #EF9A9A;
  left: 37.5%;
  display: none;

}


@media (max-width: 900px) {

  .contanier {
    width: 70%;
    margin-left: 10%;
    margin-top: 60px;
  }

}
