.contanier {
  margin-left: 33%;
  margin-right: 35%;
  margin-top: 30px;
  background-color: rgb(255,255,255,0.8);
  width: 30%;
  min-height: 350px;
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 10px;
  line-height: 1.6em;
  color: black;
}


.login-header h3 {
  position: absolute;
  font-size: 32px;

  top: 120px;
  left:45%;
 color: rgb(20,103,8,1);
  font-weight: 100;
}

.group label {
  position: relative;
  margin-left: 18%;
  color: black;
  top: 27px;
  font-size: 17px;
}

.login_form input[type="text"],
.login_form input[type="password"],
.sumbit  button {
  position: inherit;
  margin-top: 25px;
  margin-right: 16%;
  margin-left: 16%;
  width: 65%;
  height: 35px;
  background-color: rgb(0,251,10,0.16);
  border-radius: 10px;
  
  border: none;
}




.sumbit button {
  text-align: center;
  position: relative;
  margin-right: 15%;
  margin-left: 16%;
  margin-top: 10px;
  height: 40px;
  width: 68%;
  border-radius: 10px;
 background-color: #14671c;
 box-shadow: 0px 4px 4px rgba(0, 251, 10, 0.16);
  color: white;
  font-size: 18px;
  font-weight: 900;
  position: inherit;
}

.sumbit button:hover {
 background-color: darkgreen;
  color: white;
}

.error{
  


}


.login_form #username_error,
.login_form #pass_error
{

  margin-top: 2px;
  position: absolute;
  width: 345px;
  font-size: 18px;
  color: #c62828;
 
  text-align: center;
  padding: 0px 3px;
  border-radius: 3px;
  
  left: 37.5%;
  display: none;

}


.resetPassword{

  width: 500px;
  min-height: 432px;
  position: absolute;
  left: 32.5%;
  background-color: white;
  top: 16vh;
  box-shadow:8px 8px  rgba(20,103,28,0.5);
  display: none;
  border-radius: 10px;



}

.resetPassword h1{
  color: darkgreen;
  text-align: center;
}

.reset-input{
  position: inherit;
  margin-top: 25px;
  margin-right: 16%;
  margin-left: 16%;
  width: 65%;
  height: 35px;
  background-color: rgb(0,251,10,0.16);
  border-radius: 10px;
  
  border: none;
}

.reset-label{
   position: relative;
  margin-left: 18%;
  color: black;
  top: 27px;
  font-size: 17px;
}

.reset-button{

  text-align: center;
  position: relative;
  margin-right: 15%;
  margin-left: 16%;
  margin-top: 50px;
  height: 40px;
  width: 68%;
  border-radius: 10px;
 background-color: #14671c;
 box-shadow: 0px 4px 4px rgba(0, 251, 10, 0.16);
  color: white;
  font-weight: 900;
  position: inherit;

}

#show:checked~.resetPassword{
  display: block;
}

#show{
  display: none;
}
.link{
  color: blue;
  cursor: pointer;
}

.close-btn{
  right: 7px;
  position: absolute;
  color: black;
  font-size:16px; 
  cursor: pointer;

}


.group_link {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;

}

.group_link a {
  font-size: small;
  color: black;
}

.email-sent{
  color: green;
  margin-left: 80px;

}

.email-error{
  color: red;
  margin-left: 80px;
}





@media (max-width: 900px) {

  .contanier {
    width: 70%;
    margin-left: 10%;
    margin-top: 60px;
  }

}
