#main {
  z-index: 100;
}
.contanier_2 {
  position: relative;
  background-color: blanchedalmond;

  width: 70%;
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-top:35px;
  margin-bottom: 70px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 8px;
}

.view_profile,
.edit_profile {
  margin-top: -19px;
  width: 50%;
  text-align: center;
}
.view_profile a,
.edit_profile a {
  font-weight: 700;
  font-size: large;
  padding: 10px 80px;
  border-radius: 10px;
  background-color: darkgreen;
}
.view_profile :hover {
  color: rgb(82, 214, 64);
}
.edit_profile :hover {
  color: rgb(3, 14, 1);
}
.view_profile {
  background-color: green;

  border-radius: 7px 1px 0px 0px;
}
.view_profile a {
  color: rgba(255, 255, 255, 0.918);
}
.edit_profile {
  background: none;
  border-radius: 0px 7px 0px 0px;
}
.edit_profile a {
  color: rgba(45, 90, 51, 0.89);
}
.contanier_2-1 {
  display: flex;
  position: inherit;

  width: 100%;
  color: rgb(14, 73, 7);
  background: none;

  height: auto;
  /* padding: 1px 10px;
      text-align: center; */
  border-radius: 7px;
}
/* image */
.image {
  display: block;

  margin: 2%;
  margin-left: 20%;
  margin-top: 0.2%;
  width: 50%;
}
.image img {
  margin: none;
  border: 5px solid #fff;
}
/* .prof_name {
  margin-left: 45%;
} */
/* navbar 2 */
.links_to_pages {
  margin-left: 52%;
  margin-right: 0%;
  width: 50%;
  color: #fff;
  font-size: small;
  text-align: right;
}
.links_to_pages li:hover {
  color: rgb(16, 165, 41);
}
/* table */
.row1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  margin-bottom: 2%;

  width: 100%;
  text-align: center;
  color: rgb(11, 34, 9);
  font-size: medium;
  font-style: bold;
  font-weight: 600;
  background: none;

  height: auto;

  border-radius: none;
}

.row {
  display: flex;
  position: inherit;

  width: 100%;
  color: rgb(14, 73, 7);
  font-size: medium;
  font-style: bold;
  font-weight: 500;
  background: none;

  height: auto;
  /* padding: 1px 10px;
      text-align: center; */
  border-radius: none;
}
.col_1 {
  background-color: rgb(157, 247, 157);
  color: rgba(25, 53, 9, 0.918);
  border-radius: 0px;
  padding-left: 2%;
}
.col_2 {
  background: rgb(195, 252, 198);
  border-radius: 0px;
  padding-left: 2%;
}
.col_1,
.col_2 {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 50%;
  text-align: left;
}
/*first row*/
.row_first {
  display: flex;
  position: inherit;

  width: 100%;
  color: rgb(14, 73, 7);
  font-size: medium;
  font-style: bold;
  font-weight: 500;
  background: none;

  height: 40%;
  /* padding: 1px 10px;
        text-align: center; */
  border-radius: none;
}
.row_in_firstrow {
  display: flex;
  position: inherit;

  width: 100%;
  color: rgb(14, 73, 7);
  font-size: medium;
  font-style: bold;
  font-weight: 500;
  background: none;
  padding-top: 5%;
  height: 40%;
  /* padding: 1px 10px;
          text-align: center; */
  border-radius: none;
}

.col_1_first {
  background-color: none;
  color: rgba(25, 53, 9, 0.918);
  border-radius: 0px;
  padding-left: 2%;
  text-align: left;
}
.col_2_first {
  background: none;
  border-radius: 0px;
  padding-left: 2%;
  padding-top: 5%;
  text-align: center;
}
.col_1_first,
.col_2_first {
  padding-bottom: 1%;
  width: 50%;
}

/* .subcontainer_3-3 {
    position: inherit;
    margin-top: 10px;
    width: 90%;
    color: rgb(14, 73, 7);
    background: rgba(95, 219, 99, 0.616);
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
/*button*/
.row1 input[type="text"] {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #daeee1c2;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 1000px;

} 
.row1 input[type="submit"] {
  text-align: center;
  padding-bottom: 6px;
  height: 40px;
  width: 40%;
  background-color: #14671c;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
  font-size: medium;
}
.row1 input[type="submit"]:hover {
  background-color: rgb(55, 219, 63);
  color: #18470e;
}

.map {
  height: 400px;
}
/* body {
  margin: 0px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.36);
  font-family: Arial, Helvetica, sans-serif;
} */

#main {
  z-index: 100;
  /* width: 100%;
  height: auto;
  background-color: #14671c;
  position: sticky;
  top: 0px; */
}

/* .mybar {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

/* .mybar .icon{
    display: inline-block;
    position:absolute;
} */

/* a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: honeydew;
  line-height: 1.6em;
  text-align-last: center;
  font-size: medium;
}  */
/* 
ul {
  margin-top: 0px;
  margin-right: 0%;
}

li {
  display: inline-block;
  text-align-last: center;
  padding: 16px;
  border-radius: 20px;
  cursor: pointer;
} */

#icon {
  margin-left: 20px;
  width: 150px;
  height: 80px;
}

#home {
  background-color: #14671c;
}

#home:hover {
  background-color: darkgreen;
}

#report {
  background-color: #14671c;
}

#report:hover {
  background-color: darkgreen;
}

#register {
  background-color: #14671c;
}

#register:hover {
  background-color: rgba(255, 255, 255, 0.36);
}

#login {
  background-color: #14671c;
}

#login_text {
  color: white;
}
#login_text:hover {
  color: #00fb0a;
}
#login:hover {
  background-color: rgba(0, 251, 10, 0.16);
}

/* .contanier {
  margin-left: 33%;
  margin-right: 35%;
  margin-top: 30px;
  background-color: rgb(11, 100, 23);
  width: 30%;
  min-height: 350px;
  border-radius: 30px;
  padding: 15px;
  padding-top: 50px;
  border: 5px green solid;
  line-height: 1.6em;
} */

/* .dropbtn {
  background-color: rgba(16, 87, 7, 0.467);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: green;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(15, 95, 4, 0.911);
  padding: 0px 16px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  background-color: rgba(15, 95, 4, 0.911);
}
.dropdown a:hover {
  background-color: #ddd;
  color: black;
}

.show {
  display: block;
}
.down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

.register_header {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50pxpx;
  background-color: #14671c;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.contanier2 {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: #ffffff;
  opacity: 80%;
  width: 60%;
  min-height: 350px;
  border-radius: 20px;
  line-height: 2em;
  border: 4px green solid;
  box-shadow: #169723;
  padding-top: 0px;
  height: auto;
}
.contanier3 {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: #ffffff;
  opacity: 80%;
  
  min-height: 350px;
  border-radius: 20px;
  line-height: 2em;
  border: 4px green solid;
  box-shadow: #169723;
  padding-top: 0px;
  height: auto;
}
.register_header h3 {
  color: #ffffff;
}
#form1 {
  position: relative;
  width: 80%;
  margin-left: 4%;
  margin-right: 7%;
  margin-top: 10px;
}
.sumbit2 input[type="submit"] {
  text-align: center;

  margin-right: 30%;
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 6px;
  height: 40px;
  width: 40%;
  background-color: #14671c;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}
.sumbit2 input[type="submit"]:hover {
  background-color: rgb(255, 255, 255);
  color: #18470e;
}

.form2 {
  font-size: 19px;
}
#language {
  background-color: #a5a5a5;
  margin-left: 75%;
  width: 225px;
  margin-right: 10%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  height: 20px;
}


.gender {
  padding-top: 4px;
  display: inline-block;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 2px;
  background-color: #daeee1c2;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 1000px;
}

.text {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #daeee1c2;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 1000px;
}

.otp {
  
  border-radius: 5px;

  width: 100%;
  height: 20%;
  border: none;
  background-color: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 1000px;
  margin-top: 120px;
 
 
}
.flex-content {
 justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  
  width: 100%;
  position: absolute;
  
  text-align: center;
 
}
.des,
.des a {
  font-size: 16px;
  text-align: center;
  line-height: 15px;
  color: black;
}
.des a:hover {
  color: rgb(41, 158, 25);
}
.otp1 {
  margin: 5px;
  border-radius: 5px;
  width: 65px;
  height: 65px;
  position: relative;
  border: none;
  background-color: #18470e;
  font-size: 25px;
  color: rgb(247, 247, 247);
  font-weight: 1000px;
  
}
/* .otp1:hover {
  width: 52px;
  height: 52px;
} */

.gender:focus {
  background-color: rgb(210, 228, 216);
  outline: none;
}
.text:focus {
  background-color: rgb(210, 228, 216);
  outline: none;
}
@media screen and (max-width: 835px) { 
  .contanier3 {
    
    position: relative;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #ffffff;
    opacity: 80%;
    
    min-height: 350px;
    border-radius: 20px;
    line-height: 2em;
    border: 4px green solid;
    box-shadow: #169723;
    padding-top: 0px;
    height: auto;
  }
  .otp1 {
    align-items: center;
    margin: 2px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background-color: #18470e;
    font-size: 25px;
    color: rgb(247, 247, 247);
    font-weight: 1000px;
    
  }
  
}
@media screen and (max-width: 475px) { 
  .contanier3 {
    
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #ffffff;
    opacity: 80%;
    
    min-height: 350px;
    border-radius: 20px;
    line-height: 2em;
    border: 4px green solid;
    box-shadow: #169723;
    padding-top: 0px;
    height: auto;
  }
  .otp1 {
    align-items: center;
    margin: 2px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    background-color: #18470e;
    font-size: 25px;
    color: rgb(247, 247, 247);
    font-weight: 1000px;
    
  }
  
}
th label{
  font-weight: 100;
}

@media screen and (max-width: 900px) {
 
  .mybar li {
    display: none;
  }

  .mybar .icon {
    position: absolute;
    right: 5%;
    top: 20px;
    height: 40px;
    background-color: rgb(3, 85, 3);
  }

  .mybar div .bar1,
  .bar2,
  .bar3 {
    position: relative;
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(241, 237, 237);
    margin: 6px 10px;
    transition: 0.4s;
  }

  .contanier2 {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 70px;
    margin-bottom: 100px;
    background-color: #ffffff;
    opacity: 80%;
    width: 78%;
    min-height: 350px;
    border-radius: 20px;
    line-height: 2em;
    border: 4px green solid;
    box-shadow: #1fac2d;
    padding-top: 0px;
    height: auto;
  }
}

@media (max-width: 900px) {
  #navbar {
    float: none;
    height: auto;
  }
  li {
    display: block;
    width: 100%;
  }
  .contanier {
    margin-top: 60px;
  }
  .mybar.responsive {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 68px;
    background-color: rgba(15, 95, 4, 0.911);
  }

  .mybar.responsive ul {
    top: 0px;
    padding-top: 40px;
    width: 80%;
  }
  .mybar.responsive li {
    float: none;
    top: 0px;
    display: block;
    width: 100%;
  }
  .mybar.responsive li button.dropbtn {
    float: none;
    top: 0px;
    display: block;
    width: 100%;
  }

  .mybar.responsive div.icon {
    position: absolute;
    right: 5%;
    top: 20px;
    background-color: rgba(15, 95, 4, 0.048);
  }
  .mybar.responsive li div {
    position: absolute;
    width: 80%;
    margin-left: 20px;
  }
  .mybar.responsive li div a {
    width: 80%;
    margin-left: 40px;
    border-radius: 10px;
  }
  .mybar.responsive div.bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .mybar.responsive div.bar2 {
    opacity: 0;
  }

  .mybar.responsive div.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);

  }
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgba(15, 95, 4, 0.911);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(0, 252, 63);
}
.text::placeholder {
  font-style: initial;
  color: #1c201d;
}
#errorMessage{
  /* display: none; */
  position: fixed;
  width : 58%; 
  /* top :10%; */
  z-index: 1;
  margin-top: 6%;
  margin-left: 20.5%;
  margin-right:20%;
  height: auto;
  background-color: rgba(0, 100, 0, 0.802);
  border-radius: 10px;
  text-align: center;
  animation-name: animatelreg-messager;
  animation-duration: 2s;
  color: white;

}
#reg-messager{
  display: none;
  position: fixed;
  width : 58%; 
  /* top :10%; */
  z-index: 1;
  margin-top: 6%;
  margin-left: 21.2%;
  margin-right:20%;
  height: 200px;
  background-color: rgb(17, 109, 30);
  padding-top: 25px;
  border-radius: 10px;
  text-align: center;
  animation-name: animatelreg-messager;
  animation-duration: 2s;
  color: white;
}

#reg-messager h{
 padding-top: 10px;
 text-align: center;
 color: #d1d3d1;
 font-size: 20px;
}

#reg-messager .login-btn {
 
position: inherit;
 padding: 10px 10px;
 margin-top: 10px;
 background-color: rgb(11, 56, 2);
 width : 8%;
 margin-left: 24%;
 display: block;
}

#reg-messager .login-btn:hover{
 background: rgb(40, 167, 40);

}
@keyframes animatelreg-messager { 
 from{ top:-200px; opacity:0 } 
 to{ top:0; opacity:1 }
}

@media screen and (max-width: 800px) {
  .contanier_2 {
    position: relative;
    background: rgba(255, 255, 255, 0.58);
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
    margin-bottom: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 8px;
  }
  .row_in_firstrow {
    /* display: flex; */
    position: inherit;

    width: 100%;
    color: rgb(14, 73, 7);
    font-size: medium;
    font-style: bold;
    font-weight: 500;
    background: none;
    padding-top: 5%;
    height: 40%;
    /* padding: 1px 10px;
                text-align: center; */
    border-radius: none;
  }

  .col_1_first {
    background-color: none;
    color: rgba(25, 53, 9, 0.918);
    border-radius: 0px;
    padding-left: 2%;
    text-align: left;
  }
  .col_2_first {
    background: none;
    border-radius: 0px;
    padding-left: 2%;
    padding-top: 5%;
    text-align: center;
  }
  .col_1_first,
  .col_2_first {
    padding-bottom: 1%;
    width: 100%;
  }
}
