/* #10400d
#22661f
#388a35
#5fb65a
#80d87c */

.container_3 {
  position: inherit;
  background: rgba(255, 255, 255, 0.58);
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  padding-top: 10px;
}

.subcontainer_3-1 {
  position: inherit;
  margin-top: 10px;
  width: 90%;
  color: rgb(14, 73, 7);
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px;
}

.subcontainer_3-2 {
  display: flex;
  position: inherit;
  margin-top: 10px;
  width: 90%;
  color: rgb(14, 73, 7);
  background: rgba(95, 219, 99, 0.616);
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  /* padding: 1px 10px;
  text-align: center; */
  border-radius: 10px;
}

.report_catagory {
  padding: 5px;
  width: 50%;
  margin-top: 10px;
  height: 8%;
  margin: bottom 3px;
}

select {
  margin-left: 0;
  width: 100%;
  text-align: left;
  height: 40px;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
  border: none;
  background: #10400d;
  color: rgb(255, 255, 255);
}

option {
  display: inline-block;
  width: auto;
  height: 20px;
  padding: 5px 16px;
  border-radius: 5px;
  background-color: #10400d;
}

.group-1 {
  position: relative;
  height: 20px;
  margin-top: 10px;
  margin-left: 8px;
  padding-top: 10px;
}

.group-2 {
  position: relative;
  height: 20px;
  margin-top: 8px;
  margin-left: 4px;
  padding-top: 10px;
}

.group-3 {
  position: relative;
  height: 20px;
  margin-top: 8px;
  margin-left: 8px;
  padding-top: 10px;
}

option .group-1,
option .group-2,
option .group-3:hover {
  background-color: rgba(255, 255, 255, 0.58);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.searchTerm {
  width: 100%;
  border: 3px solid#10400d;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #10400d;
}

.searchButton {
  width: 150px;
  height: 36px;
  border: 1px solid #10400d;
  background: #10400d;
  text-align: center;
  color: #fff;
  border-radius: 0 0px 0px 0;
  cursor: pointer;
  font-size: 15px;
}

/*Resize the wrap to see the search bar change!*/

.wrap {
  width: 50%;
  position: relative;
  padding: 2%;
  top: 50%;
  height: 96%;
}

/*table*/

.subcontainer_3-3 {
  position: inherit;
  margin-top: 10px;
  width: 90%;
  color: rgb(14, 73, 7);
  background: rgba(95, 219, 99, 0.616);
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.firstRow {
  width: 100%;
  background-color: #10400d;
  color: #fff;
  position: relative;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* navbar 2 */

.links_to_pages {
  margin-left: 50%;
  margin-right: 0%;
  width: 50%;
  color: #fff;
  font-size: small;
}

.links_to_pages li:hover {
  color: rgb(16, 165, 41);
}

.buttonAccept {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: auto;
}

.buttonCancel {
  background-color: #af7c4c;
  border: block;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: auto;
}

.viewButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: auto;
}

/* back */

.row1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
  color: rgb(14, 73, 7);
  font-size: medium;
  font-style: bold;
  font-weight: 600;
  background: none;
  height: auto;
  border-radius: none;
}

@media screen and (max-width: 1100px) {
  .subcontainer_3-1 {
    width: 97%;
    margin-left: 1%;
    margin-right: 2%;
    height: auto;
  }
  .subcontainer_3-2 {
    margin-top: 10px;
    width: 97%;
    margin-left: 1%;
    margin-right: 2%;
    height: auto;
  }
  .container_3 {
    z-index: -1;
    position: inherit;
    background: rgba(255, 255, 255, 0.58);
    width: 97%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 5px;
    border-radius: 10px;
    padding-top: 5px;
  }
  .subcontainer_3-3 {
    width: 97%;
    color: rgb(14, 73, 7);
    background: rgba(95, 219, 99, 0.616);
    margin-left: 10px;
    margin: right 5px;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 10px;
  }
}

@media screen and (max-width: 790px) {
  .subcontainer_3-1 {
    width: 97%;
    margin-left: 1%;
    margin-right: 2%;
    height: auto;
  }
  .subcontainer_3-2 {
    margin-top: 10px;
    width: 97%;
    margin-left: 1%;
    margin-right: 2%;
    height: auto;
  }
  .subcontainer_3-3 {
    width: 97%;
    color: rgb(14, 73, 7);
    background: rgba(95, 219, 99, 0.616);
    margin-left: 10px;
    margin: right 5px;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 10px;
  }
  .container_3 {
    position: inherit;
    background: rgba(255, 255, 255, 0.58);
    width: 97%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 490px) {
  .subcontainer_3-1 {
    width: 97%;
    margin-left: 1%;
    margin-right: 2%;
    height: auto;
  }
  .subcontainer_3-2 {
    flex-wrap: wrap;
    margin-top: 10px;
    width: 97%;
    margin-left: 1%;
    margin-right: 2%;
    height: auto;
  }
  .subcontainer_3-3 {
    width: 97%;
    color: rgb(14, 73, 7);
    background: rgba(95, 219, 99, 0.616);
    margin-left: 10px;
    margin: right 5px;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 10px;
  }
  .container_3 {
    position: inherit;
    background: rgba(255, 255, 255, 0.58);
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 730px) {
  .wrap {
    width: 100%;
    position: relative;
    padding: 2%;
    top: 100%;
    height: 96%;
  }
  .report_catagory {
    margin-left: 1%;
    margin-right: 1%;
    padding: 5px;
    width: 100%;
  }
  .subcontainer_3-2 {
    flex-wrap: wrap;
  }
}
